@font-face {
   font-family: "ProximaNova";
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url("../fonts/ProximaNova-Regular.woff2")format("woff2"), url("../fonts/ProximaNova-Regular.woff")format("woff")
}

@font-face {
   font-family: "ProximaNova";
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   src: url("../fonts/ProximaNova-Bold.woff2")format("woff2"), url("../fonts/ProximaNova-Bold.woff")format("woff")
}

@font-face {
   font-family: "ProximaNova";
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: url("../fonts/ProximaNova-Black.woff2")format("woff2"), url("../fonts/ProximaNova-Black.woff")format("woff")
}

html {
   height: 100%;
   box-sizing: border-box
}

*, *::before, *::after {
   box-sizing: inherit;
   scroll-behavior: smooth
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden
}

body {
   height: 100%;
   display: flex;
   flex-direction: column;
   font-family: "ProximaNova", "Arial", "sans-serif";
   font-size: 16px;
   line-height: 1.2;
   color: rgb(0, 0, 0);
   margin: 0;
   padding: 0
}

img {
   display: block;
   object-fit: cover
}

.container {
   width: 1200px;
   margin: 0 auto;
   padding: 0 15px
}

.site-header {
   background-color: #191919
}

.header-container {
   display: flex;
   align-items: center;
   padding-top: 25px;
   padding-bottom: 42px
}

.site-logo {
   width: 360px
}

.work-hours-box {
   margin: 0 auto
}

.work-hours {
   display: block;
   font-size: 12px;
   color: rgb(255, 255, 255);
   font-weight: bold;
   line-height: 2;
   text-align: center
}

.work-days {
   display: block;
   font-size: 12px;
   color: rgb(255, 255, 255);
   font-weight: bold;
   line-height: 2;
   text-align: center
}

.phone-wrapper {
   width: 346px;
   display: flex;
   align-items: center
}

.phone-num-box {
   margin-right: 15px
}

.phone-num-1 {
   margin-bottom: 6px
}

.phone-num-1, .phone-num-2 {
   display: block;
   text-decoration: none;
   font-size: 18px;
   font-weight: bold;
   color: rgb(255, 255, 255);
   line-height: 1.2
}

.order-call {
   width: 170px;
   display: inline-block;
   padding: 18px 21px;
   text-decoration: none;
   font-size: 12px;
   color: rgb(255, 255, 255);
   font-weight: bold;
   text-transform: uppercase;
   line-height: 1.2;
   background-color: #1669b3
}

.site-main {
   flex-grow: 1
}

.hero-section {
   background-image: url("../img/sloy1.png");
   background-position: center center;
   background-size: auto 100%;
   background-repeat: no-repeat
}

@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and ( min--moz-device-pixel-ratio:2), only screen and ( -o-min-device-pixel-ratio:2/1), only screen and ( min-device-pixel-ratio:2), only screen and ( min-resolution:192dpi), only screen and ( min-resolution:2dppx) {
   .hero-section {
      background-image: url("../img/sloy1@2x.png")
   }
}

.original-details-box {
   width: 577px;
   padding: 70px 108px;
   background-color: rgb(247, 181, 22)
}

.original-details-heading {
   width: 346px;
   margin-top: 0;
   margin-bottom: 32px;
   font-size: 40px;
   text-transform: uppercase;
   font-weight: 700;
   line-height: 1.375;
   text-align: left
}

.original-details-description {
   width: 294px;
   margin-top: 0;
   margin-bottom: 95px;
   font-size: 25px;
   font-weight: bold
}

.advantages-list {
   width: 324px;
   padding: 0;
   margin: 0;
   margin-bottom: 53px;
   list-style-type: none
}

.advantages-list-item {
   display: flex;
   align-items: center;
   font-size: 18px;
   line-height: 1.2
}

.advantages-list-item:not(:last-child) {
   margin-bottom: 43px
}

.advantages-list-item span {
   display: inline-block
}

.advantages-list-item:before {
   display: inline-block;
   min-width: 25px;
   height: 30px;
   margin-right: 25px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center center;
   content: ""
}

.advantages-list-item:nth-child(1):before {
   background-image: url("../img/pig.svg")
}

.advantages-list-item:nth-child(2):before {
   background-image: url("../img/delivery-truck-icon.svg")
}

.advantages-list-item:nth-child(3):before {
   background-image: url("../img/star-box.svg")
}

.advantages-list-item:nth-child(4):before {
   background-image: url("../img/medal.svg")
}

.email-section {
   background-image: url("../img/sloy2.png");
   background-repeat: no-repeat;
   background-size: auto 100%;
   background-position: center center
}

@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and ( min--moz-device-pixel-ratio:2), only screen and ( -o-min-device-pixel-ratio:2/1), only screen and ( min-device-pixel-ratio:2), only screen and ( min-resolution:192dpi), only screen and ( min-resolution:2dppx) {
   .email-section {
      background-image: url("../img/sloy2@2x.png")
   }
}

.email-section-container {
   padding: 94px 15px;
   padding-bottom: 104px
}

.email-form-box {
   width: 770px;
   margin-left: auto;
   text-align: right
}

.email-form-heading {
   width: 445px;
   margin-top: 0;
   margin-bottom: 60px;
   margin-left: auto;
   font-size: 30px;
   font-weight: bold;
   line-height: 1.2;
   text-align: right
}

.labels-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 21px
}

.input {
   width: 370px;
   padding: 30px;
   padding-right: 50px;
   background-color: rgb(242, 242, 242);
   background-repeat: no-repeat;
   background-size: 20px 20px;
   background-position: right 20px top 50%;
   ;
   border: 0
}

.input::placeholder {
   margin-right: 70px;
   color: rgb(129, 129, 129);
   text-transform: uppercase;
   line-height: 1.2;
   text-align: left
}

.email-input {
   background-image: url("../img/envelope.svg")
}

.phone-input {
   background-image: url("../img/phone-icon.svg")
}

.email-form-box-bottom {
   width: 650px;
   display: flex;
   align-items: center;
   margin-left: auto
}

.price-duration {
   width: 190px;
   margin-right: 30px;
   font-size: 14px;
   line-height: 1.2;
   text-align: right
}

.email-sibmit-but {
   width: 370px;
   margin-left: 30px;
   padding: 30px 100px;
   font-weight: 500;
   text-transform: uppercase;
   line-height: 1.2;
   color: #fff;
   background-color: #1669b3;
   border: 0
}

.fast-delivery-section {
   background-color: #08243e;
   color: #fff
}

.fast-delivery-container {
   padding: 85px 15px
}

.fast-delivery-heading {
   margin-top: 0;
   margin-bottom: 20px;
   font-size: 36px;
   line-height: 1.2;
   text-align: center
}

.fast-delivery-description {
   width: 385px;
   margin-bottom: 100px;
   margin-right: auto;
   margin-left: auto;
   font-size: 20px;
   line-height: 1.2;
   text-align: center
}

.fast-delivery-list {
   display: flex;
   justify-content: space-between;
   margin: 0;
   padding: 0;
   list-style-type: none
}

.fast-delivery-item {
   width: 230px;
   text-align: center
}

.fast-delivery-item:before {
   display: block;
   width: 100px;
   height: 100px;
   margin: 0 auto;
   margin-bottom: 43px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center center;
   content: ""
}

.fast-delivery-item:nth-child(1):before {
   background-image: url("../img/engine.svg")
}

.fast-delivery-item:nth-child(2):before {
   background-image: url("../img/dump-truck.svg")
}

.fast-delivery-item:nth-child(3):before {
   background-image: url("../img/calendar.svg")
}

.fast-delivery-item:nth-child(4):before {
   background-image: url("../img/location.svg")
}

.search-detail-section {
   color: #fff;
   background-image: url("../img/sloy3.png");
   background-position: center center;
   background-size: auto 100%;
   background-repeat: no-repeat
}

.search-detail-container {
   padding: 91px 15px;
   padding-bottom: 95px;
   text-align: center
}

.search-detail-heading {
   margin-top: 0;
   margin-bottom: 23px;
   font-size: 30px;
   line-height: 1.2
}

.search-detail-description {
   width: 620px;
   margin: 0 auto;
   margin-bottom: 54px;
   font-size: 20px;
   line-height: 1.2
}

.search-detail-form {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 50px
}

.yellow-submit-but {
   margin: 0;
   background-color: #f7b516
}

.search-detail-bottom-paragraph {
   margin-top: 0;
   margin-bottom: 23px;
   font-size: 14px
}

.search-detail-bottom-txt {
   display: inline-block;
   margin-bottom: 10px;
   font-size: 14px
}

.search-detail-phone-num {
   display: block;
   text-decoration: none;
   font-size: 30px;
   font-weight: bold;
   color: #fff
}

.guarantee-section {
   background-color: #fff
}

.guarantee-container {
   padding: 100px 15px
}

.guarantee-heading {
   width: 677px;
   margin: 0 auto;
   margin-bottom: 100px;
   font-size: 36px;
   text-align: center
}

.guarantee-list {
   display: flex;
   justify-content: space-between;
   margin: 0;
   padding: 0;
   list-style-type: none
}

.guarantee-list-item {
   width: 283px;
   text-align: center
}

.guarantee-list-item:before {
   width: 232px;
   height: 300px;
   display: block;
   margin: 0 auto;
   margin-bottom: 24px;
   background-position: center center;
   background-size: contain;
   background-repeat: no-repeat;
   content: ""
}

.guarantee-list-item:nth-child(1):before {
   background-image: url("../img/img1.jpg")
}

.guarantee-list-item:nth-child(2):before {
   background-image: url("../img/img2.jpg")
}

.guarantee-list-item:nth-child(3):before {
   background-image: url("../img/img3.jpg")
}

.guarantee-img-description {
   margin-top: 0;
   margin-bottom: 33px;
   font-size: 18px
}

.learn-more-link {
   display: inline-block;
   font-size: 18px;
   font-weight: bold;
   text-decoration: underline;
   text-decoration-color: #8f8f8f;
   color: #000
}

.bonuses-container {
   padding-top: 91px;
   padding-bottom: 103px
}

.bonuses-heading {
   width: 676px;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 90px
}

.bonuses-item::before {
   width: 100px;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   font-weight: bold;
   background-size: 56px 33px;
   border: 2px solid #fff;
   border-radius: 50%
}

.bonuses-item:nth-child(1)::before {
   background-image: none;
   content: "10%"
}

.bonuses-item:nth-child(2)::before {
   background-image: none;
   content: "20%"
}

.bonuses-item:nth-child(3)::before {
   background-image: url("../img/dump-truck.svg")
}

.bonuses-item:nth-child(4)::before {
   background-image: url("../img/operator-icon.svg")
}

.questions-section {
   color: #fff;
   background-color: #0b3554
}

.questions-container {
   padding: 90px 15px
}

.questions-heading {
   margin-bottom: 25px
}

.questions-description {
   margin-top: 0;
   margin-bottom: 82px;
   text-align: center
}

.questions-main-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between
}

.questions-list {
   margin: 0;
   padding: 0;
   padding-left: 15px;
   font-size: 14px
}

.question {
   position: relative;
   margin-bottom: 27px;
   padding-bottom: 20px;
   padding-left: 30px
}

.question-txt {
   margin: 0;
   font-size: 16px;
   font: 500px;
   text-decoration: underline;
   text-decoration-color: #a5aeb7;
   transition: color .3s ease, text-decoration-color .3s ease
}

.question:hover .question-txt {
   color: #579eff;
   text-decoration-color: #579eff
}

.more-questions-link {
   display: flex;
   align-items: center;
   font-size: 14px;
   text-align: right;
   color: #fff;
   text-decoration: none
}

.more-questions-link::before {
   width: 20px;
   height: 20px;
   display: inline-block;
   margin-right: 26px;
   background-image: url("../img/update.svg");
   background-size: contain;
   content: ""
}

.boss-figure {
   position: relative;
   z-index: 1;
   display: block
}

.boss-figcaption {
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 1;
   display: block;
   padding: 10px 20px;
   font-size: 14px;
   background-color: #244e71;
   opacity: .8
}

.question-dropdown {
   position: absolute;
   top: 100%;
   left: 10%;
   z-index: 1;
   width: 340px;
   display: none;
   padding: 15px;
   background-color: #fff;
   color: #000
}

.question:nth-child(2):hover .question-dropdown {
   display: block
}

.question-dropdown::before {
   position: absolute;
   bottom: 100%;
   left: 0;
   transform: translateX(50%);
   z-index: 1;
   width: 0;
   height: 0;
   border-right: 12px solid transparent;
   border-left: 12px solid transparent;
   border-bottom: 12px solid #fff;
   content: ""
}

/* CONVENIENT-SECTION */

.section-convenient-box {
   background-color: #fff
}

.section-convenient-container {
   text-align: center;
   padding: 90px 85px;
   padding-bottom: 70px;
}

.section-convenient-box-title {
   font-size: 36px;
   color: #000;
   line-height: 1.2;
   text-align: center;
   margin: 0;
   margin-bottom: 20px
}

.section-convenient-paragraph {
   margin: 0;
   margin-bottom: 99px;
   font-size: 20px;
   color: #000;
   line-height: 1.2;
   text-align: center;
   font-size: 20px
}

.section-convenient-ul {
   display: flex;
   justify-content: space-between;
   padding: 0;
   margin: 0 auto;
   list-style-type: none
}

.section-convenient-li {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 211px
}

.section-convenient-li:last-child {
   margin: 0
}

.section-convenient-link {
   font-size: 18px;
   text-decoration: none;
   color: rgb(0, 0, 0);
   line-height: 1.2;
   text-align: center
}

.section-convenient-li::before {
   display: inline-block;
   width: 88px;
   height: 88px;
   margin-bottom: 45px;
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
   content: ""
}

.section-convenient-li-1::before {
   background-image: url("../img/golden1.png")
}

.section-convenient-li-2::before {
   background-image: url("../img/golden2@2x.png")
}

.section-convenient-li-3::before {
   background-image: url("../img/golden3.png")
}

/* REPOSITORY-SECTION */

.warehouse-section {
   background-color: #0b3554;
}

.warehouse-container {
   text-align: center;
   padding: 90px 15px 94px 15px;
}

.warehouse-section-title {
   margin: 0;
   margin-bottom: 20px;
   font-size: 36px;
   font-weight: bold;
   color: rgb(255, 255, 255);
   line-height: 1.2;
   text-align: center;
}

.warehouse-section-paragraph {
   width: 646px;
   margin: 0 auto;
   margin-bottom: 99px;
   font-size: 20px;
   color: rgb(255, 255, 255);
   line-height: 1.2;
   text-align: center;
}

.personal-warehouse-list {
   display: flex;
   padding: 0;
   margin: 0 auto;
   list-style-type: none;
}

.personal-warehouse-item:not(:last-child) {
   margin-right: 30px;
}

.personal-warehouse-img {
   display: inline-block;
   width: 327px;
   height: 271px;
}

/* MOBILE-BRIGADS */

.mobile-brigads__container {
   padding: 90px 15px;
   padding-bottom: 30px;
}

.mobile-brigads__heading {
   width: 825px;
   margin: 0 auto;
   margin-bottom: 30px;
   text-align: center;
   font-size: 36px;
}

.mobile-brigads_list {
   padding: 68px;
}

.mobile-brigads-item {
   width: 290px;
}

.mobile-brigads-item:not(:last-child) {
   margin-right: 90px;
}

.mobile-brigads-item::before {
   width: 170px;
   height: 170px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 37px;
   background-size: 77px 57px;
   background-position: center center;
   border: 2px solid #ffbc3b;
   border-radius: 50%;
}

.mobile-brigads-item:nth-child(1)::before {
   background-image: url("../img/golden1.png");
}

.mobile-brigads-item:nth-child(2)::before {
   background-image: url("../img/golden-toolbox.png");
}

.mobile-brigads-item:nth-child(3)::before {
   background-image: url("../img/golden-certificate.png");
}

/* FREE-CONSULTING-SECTION */

.free-consulting-container {
   padding: 92px 15px;
   padding-bottom: 100px;
}

.free-consulting-heading {
   margin-bottom: 53px;
}

.free-consulting_num {
   margin-bottom: 56px;
}

.free-consulting-form {
   width: 770px;
   margin: 0 auto;
}

/* BIDDING-DEPARTMENT */

.bidding-department {
   background-color: #fff;
   background-image: url("../img/sloy5.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}

.bidding-department-container {
   text-align: center;
   padding: 82px 15px 69px 15px;
}

.bidding-department-title {
   margin: 0;
   margin-bottom: 88px;
   font-size: 30px;
   font-weight: bold;
   color: rgb(0, 0, 0);
   line-height: 1.2;
   text-align: center;
}

.bidding-department-text {
   margin: 0;
   margin-bottom: 30px;
   font-size: 18px;
   color: rgb(0, 0, 0);
   line-height: 1.2;
   text-align: center;
}

.bidding-department-tel {
   font-size: 24px;
   font-weight: bold;
   color: rgb(0, 0, 0);
   line-height: 1.2;
   text-align: center;
}

/* LOCATION-CARD-SECTION */

.location-card__link {
   display: block;
}

.location-card__container {
   padding: 155px;
   padding-bottom: 220px;
   background-image: url("../img/card.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}

/*  ===== SITE-FOOTER =====  */

.site-footer {
   color: #fff;
   background-color: #191919;
}

.footer_container {
   display: flex;
   align-items: center;
   padding: 39px 15px;
}

.copyright-box {
   display: flex;
   align-items: center;
   margin: 0 auto;
}

.copyright-txt {
   margin-right: 10px;
}

.love-img {
   display: inline;
   margin: 0;
}